<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/forms.css" type="text/css"/>
    <title>Welcome</title>
</head>
<body>
    <div class="welcome">
        <h1>User Panel</h1>

        <br>

        <div class="float-right logged-in">
            <a href="/api/logout">Log-out: <span></span></a>
        </div>

        <span class="clear-float">
            <br><br>
        </span>

        <div class="logged-in">
            Welcome to your User-Panel! <br>
            do stuff here,
            <br><br>
            <br><a href="/api/welcome">or back to welcome page</a>
        </div>
    </div>
</body>
</html>